@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%; }

.max-width {
  max-width: 1300px;
  padding: 0 8rem;
  margin: auto; }

.navbar {
  position: fixed;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  padding: 3rem 0;
  transition: all 0.3s ease;
  z-index: 9999;
  background-color: #fff; }
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navbar .menu li {
    list-style: none;
    display: inline-block; }
    .navbar .menu li a {
      color: #2e2e2e;
      font-size: 1.8rem;
      font-weight: 700;
      margin-left: 2.5rem;
      transition: color 0.3s ease; }
      .navbar .menu li a:hover {
        color: #9f4f29; }
  .navbar .logo a {
    color: #2e2e2e;
    font-size: 2.5rem;
    font-weight: 600; }
    .navbar .logo a span {
      color: #9f4f29; }

/* navbar-sticky */
.navbar.sticky {
  padding: 15px 0; }
  .navbar.sticky .logo a {
    transition: all 0.3s ease; }
    .navbar.sticky .logo a span {
      transition: all 0.3s ease; }
  .navbar.sticky .menu-btn {
    color: #333;
    transition: all 0.3s ease; }

/* menu button */
.menu-btn {
  color: #333;
  font-size: 23px;
  cursor: pointer;
  display: none; }

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #9f4f29;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease; }

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto; }

.scroll-up-btn:hover {
  filter: brightness(90%); }

.section-banner {
  display: flex;
  background: url("../img/navbar.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 85vh; }
  .section-banner .max-width {
    margin-left: 2rem; }
  .section-banner .title {
    font-size: 3rem;
    font-weight: bolder;
    color: #fff; }
  .section-banner .text {
    font-size: 4rem;
    font-weight: bolder;
    color: #fff;
    margin-top: 1.5rem; }

.section-info {
  grid-template-columns: 1fr 1fr;
  display: grid; }
  .section-info .info-content-left {
    font-size: 3.5rem;
    font-weight: bolder;
    color: #2e2e2e;
    margin: auto;
    padding-left: 8rem; }
    .section-info .info-content-left .text-2 {
      margin-top: 2.5rem; }
  .section-info .info-content-right img {
    width: 600px; }

.section-special {
  margin-bottom: 15rem; }
  .section-special .text {
    color: #2e2e2e;
    font-size: 3rem;
    font-weight: bolder;
    margin-left: 40%;
    padding: 5rem 0; }
    .section-special .text span {
      color: #9f4f29; }
  .section-special .special-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15rem; }
    .section-special .special-content p {
      font-size: 2.5rem;
      font-weight: bolder;
      text-align: center; }
    .section-special .special-content .content-left img {
      width: 70%;
      display: block;
      margin: auto; }
    .section-special .special-content .content-mid img {
      width: 80%;
      display: block;
      margin: auto; }
    .section-special .special-content .content-right img {
      width: 90%;
      display: block;
      margin: auto; }

footer {
  background: #2e2e2e;
  padding: 30px 23px;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif; }

footer span a {
  color: #fff;
  text-decoration: none; }

footer span a:hover {
  text-decoration: underline; }

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  .navbar .max-width {
    padding: 0 3rem; }
  .navbar .logo a {
    font-size: 3rem;
    font-weight: 600; }
    .navbar .logo a span {
      color: #9f4f29; }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease; }
    .navbar .menu li {
      display: block; }
      .navbar .menu li a {
        color: #fff;
        display: inline-block;
        margin: 20px 0;
        font-size: 25px; }
        .navbar .menu li a:hover {
          color: #9f4f29; }
    .navbar .menu.active {
      left: 0; }
  .menu-btn {
    display: block;
    z-index: 999; }
    .menu-btn i.active:before {
      content: '\f00d'; }
  .section-info .info-content-left {
    font-size: 2.5rem; }
    .section-info .info-content-left .text-2 {
      margin-top: 2.5rem; }
  .section-info .info-content-right img {
    width: 80%; }
  .section-special .text {
    color: #2e2e2e;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-left: 40%;
    padding: 5rem 0; }
  .section-special .special-content {
    padding: 0 10rem; }
    .section-special .special-content p {
      font-size: 2rem; }
    .section-special .special-content .content-left img {
      width: 18rem;
      display: block;
      margin: auto; }
    .section-special .special-content .content-mid img {
      width: 21rem;
      display: block;
      margin: auto; }
    .section-special .special-content .content-right img {
      width: 24rem;
      display: block;
      margin: auto; } }

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
  .section-special .text {
    font-size: 2.5rem;
    margin-left: 35%; }
  .section-special .special-content {
    padding: 0 5rem; }
    .section-special .special-content p {
      font-size: 1.5rem; }
    .section-special .special-content .content-left img {
      width: 14rem;
      display: block;
      margin: auto; }
    .section-special .special-content .content-mid img {
      width: 17rem;
      display: block;
      margin: auto; }
    .section-special .special-content .content-right img {
      width: 20rem;
      display: block;
      margin: auto; }
  footer {
    font-size: 1.5rem; } }

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .section-banner {
    height: 50vh; }
    .section-banner .max-width {
      margin-left: 0.5rem; }
    .section-banner .title {
      font-size: 2.5rem;
      font-weight: bolder;
      color: #fff; }
    .section-banner .text {
      font-size: 3rem;
      font-weight: bolder;
      color: #fff;
      margin-top: 1.5rem; }
  .section-info {
    grid-template-columns: 1fr;
    display: grid; }
    .section-info .info-content-left {
      padding-top: 3rem;
      font-size: 2.5rem;
      padding-left: 3rem; }
      .section-info .info-content-left .text-2 {
        margin-top: 2.5rem; }
    .section-info .info-content-right img {
      display: block;
      margin: auto;
      width: 80%; }
  .section-special {
    margin-bottom: 15rem; }
    .section-special .text {
      font-size: 2.5rem;
      margin-left: 25%; }
      .section-special .text span {
        color: #9f4f29; }
    .section-special .special-content {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0 10rem; }
      .section-special .special-content p {
        font-size: 1.5rem;
        font-weight: bolder;
        text-align: center;
        padding-bottom: 2rem; }
      .section-special .special-content .content-left img {
        width: 17rem;
        display: block;
        margin: auto; }
      .section-special .special-content .content-mid img {
        width: 20rem;
        display: block;
        margin: auto; }
      .section-special .special-content .content-right img {
        width: 23rem;
        display: block;
        margin: auto; } }

/**************************/
/* BELOW 420px (Phones) */
/**************************/
@media (max-width: 420px) {
  .navbar .logo a {
    font-size: 1.8rem; }
  .section-banner {
    height: 50vh; }
  .section-info .info-content-left {
    padding-left: 3rem; }
  .section-special .text {
    font-size: 2.5rem;
    margin-left: 10%; }
    .section-special .text span {
      color: #9f4f29; }
  .section-special .special-content {
    padding: 0 1rem; }
  footer {
    font-size: 1rem; } }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
